<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Maker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">Portfolio-Maker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                  <a class="nav-link" href="/home"><span>Home</span> <span class="sr-only">(current)</span></a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/contactus"><span>Social</span></a>
                  </li>
                  <% if(!user){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup"><span>Signup</span></a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" href="/login"><span>Login</span></a>
                      </li>
                <%}%>
                <% if(user) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><span>Profile</span></a>
                      </li>
                <%}%>

                
              </ul>
            </div>
          </nav>
  
  <section id="social" >
    <h2>Contact Us</h2>
    <section class="mb-4">
        
        <h5 class="text-center w-responsive mx-auto mb-5 about-us-p"> Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</h5>
    
        <div class="row">

            <div class="col-md-9 mb-md-0 mb-5">
                <form  action="mailto:pradhyumnarathore6459@gmail.com" method="post"  >

                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control" autocomplete="off">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control" autocomplete="off">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control" autocomplete="off">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
    
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
    
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
    
                </form>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p> Chota naka old maheshwar Road, kasrawad Dist:Khargone,451228,Madhya Pradesh,India</p>
                    </li>
    
                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+91 8718959305</p>
                    </li>
    
                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>pradhyumnarathore@gmail.com</p>
                    </li>
                </ul>
            </div>
    
        </div>
    
    </section>
  
            
 
      
    
    </section>
    <footer>
                   
        <div class="icon-div">
            <a href="https://github.com/pradhyumna6459"><i  class=" icon-img fab fa-github fa-2x"></i></a>
            <a href="https://www.instagram.com/pradhyumna.singhrathore/"><i class="icon-img fab fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/pradhyumnasingh.rathore.3/"><i class="icon-img fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/pradhyumna-singh-rathore-b6a767177/"><i  class="icon-img fab fa-linkedin fa-2x"></i></a>
            <p >
                copyright @pradhyumna 2021
            </p>

        </div>
    </footer>

    
</body>
</html>